<form action="/"> 
    <h3>Pedido cadastrado com sucesso: {{clientenome}} / {{codCliente}} {{dataEmissao}} {{dataEntrega}} {{endereco}} {{formaPagamento}} {{codigo}} {{nome}} {{punit}} {{qtde}}</h3>
    <input type="submit" value="voltar">
</form>